{% extends "dswQuizBundle::layout.html.twig" %}

{% block dsw_quiz_content %}
<div class="container my-5">
   
    <h1>Config edit</h1>

    {{ form_start(edit_form) }}
        {{ form_widget(edit_form) }}
        <input type="submit" value="Edit" />
    {{ form_end(edit_form) }}

    <ul>
        <li>
            <a href="{{ path('quiz_config_index') }}">Back to the list</a>
        </li>
        <li>
            {{ form_start(delete_form) }}
                <input type="submit" value="Delete">
            {{ form_end(delete_form) }}
        </li>
    </ul>
    
</div>
{% endblock %}
