{% extends "dswLearnBundle::layout.html.twig" %}

{% block title %}
    Connexion - {{ parent() }}
{% endblock %}

{% block body %}
<div class="landing_page_learn">
<div class="container pt-5 "> 

    {% if error is defined %}
    {% if error %}
        <div class="alert alert-danger">{{ error.message }}</div>
    {% endif %}
    {% endif %}
    
    {% if manual_error is defined %}
    {% if manual_error %}
        <div class="alert alert-danger">{{ manual_error }}</div>
    {% endif %}
    {% endif %}
    
    <div class="row mt-5">
    <div class="col-lg-5 col-md-8 mx-auto mt-3">
    <div class="card">
   
    {% if image %}
        <img src="{{ asset(image) }}" class="card-img-top img-fluid mb-1" alt="Card image cap"/> 
    {% else %}
        <img src="{{ asset('/uploads/img/connexion_learn.png') | imagine_filter('ideas_wall') }}" class="card-img-top img-fluid mb-1" alt="Card image cap"/> 
    {% endif %}
    
    <!--
    <div class="card-block p-3 text-center">
        Here is a text !
    </div>
    -->
    
    <div class="card-block p-4" id="sign_in">
        
        {{ form_start(form) }}
           
            <div class="mb-3">
                {{ form_widget(form.email) }} 
            </div>
            
            <div class="text-center">
                <button class="btn btn-learn ml-0" type="submit">Se connecter</button>
            </div>
            
        {{ form_end(form) }}

        <!--
        <form action="{{ path("learn_security_check") }}" method="post" class="form-horizontal mx-3">
            
            <input type="text" id="username" name="_username" required="required" placeholder="Votre email professionnel" class="form-control" />
            
            <input type="hidden" id="password" name="_password" required="required" value="azerty" class="form-control" />

            <div class="row"> 
            <div class="text-center mx-auto">
            <input type="submit" id="_submit" name="_submit" value="C'est parti !" class="btn btn-primary mb-3" />
            </div>
            </div>

        </form>
        -->

    </div>
    
    </div>
    </div>
    </div>


</div>
</div>
{% endblock %}


