{% extends "dswAmpliBundle::layout.html.twig" %}
{% block title %}{{ parent() }} - Administration{% endblock %}
{% block dsw_ampli_jumbotron %}{% endblock %}

{% block dsw_ampli_content %}
<div class="container my-5"> 
  
    <a href="{{ path('dsw_ampli_admin_config') }}" class="btn btn-tertiary mb-3">Piloter Ampli</a><br>
    <a href="{{ path('dsw_ampli_admin_user') }}" class="btn btn-secondary mb-5">Gérer les utilisateurs</a>
    
   
    <h2>Gestion des espaces</h2>
    
    {% for espace in listEspaces %}
        
        <h3>{{ espace.titre }}</h3>
        
        <p class="mb-0">Etape : {{ espace.etape }}</p>
        <p class="mb-0">Cœurs : {{ espace.withCoeurs }}</p>
        <p class="mb-0">Ajout idées : {{ espace.withIdees }}</p>
        <p>Slug : {{ espace.slug }}</p>
        
        <a href="{{ path('dsw_ampli_viewEspace', {'id': espace.id}) }}" class="btn btn-outline-primary">
        Aller à l'espace
        </a>
       
        <a href="{{ path('dsw_ampli_admin_espace', {'id': espace.id}) }}" class="btn btn-outline-primary">
        Piloter l'espace
        </a>
        
        <a href="{{ path('dsw_ampli_admin_idee', {'id': espace.id}) }}" class="btn btn-outline-primary">
        Sélectionner les idées
        </a>
        
        <hr>
        
    {% else %}
    <p>Pas (encore !) d'espaces</p>
    {% endfor %}
    
    <a href="{{ path('dsw_ampli_addEspace') }}" class="btn btn-secondary">Ajouter un espace</a>
    
    
</div>
{% endblock %}