{% extends "dswAmpliBundle::layout.html.twig" %}

{% block dsw_ampli_content %}
<div class="container my-5">
   
    <h1>Utilisateurs</h1>

    <table class="table">
        <thead>
            <tr>
                <th>Id</th>
                <th>Username</th>
                <th>Firstname</th>
                <th>Lastname</th>
                <th>Email</th>
                <th>Dernière connexion</th>
                <th>Permissions</th>
                <th>Actions</th>
            </tr>
        </thead>
        <tbody>
        {% for user in users %}
            <tr>
                <td><a href="{{ path('quiz_attempt_show', { 'id': user.id }) }}">{{ user.id }}</a></td>
                <td>{{ user.username }}</td>
                <td>{{ user.firstname }}</td>
                <td>{{ user.lastname }}</td>
                <td>{{ user.email }}</td>
                <td>{{ user.lastLogin|date }}</td>
                <td>
                    {% if user.roles %}
                    {% for role in user.roles %}
                        {{ role }}<br>
                    {% endfor %}
                    {% endif %}
                </td>
                
                <td>
                    <a href="{{ path('dsw_user_view', { 'id': user.id }) }}" class="mr-2"><i class="fa fa-eye"></i></a>
                    <a href="{{ path('dsw_user_delete', { 'id': user.id }) }}" class="mr-2"><i class="fa fa-trash"></i></a>
                        <!-- <li>
                            <a href="{{ path('dsw_user_edit', { 'id': user.id }) }}">Editer</a>
                        </li> -->
                </td>
                
            </tr>
        {% endfor %}
        </tbody>
    </table>
    
    <a href="{{ path('dsw_ampli_admin') }}" class="btn btn-dark my-3">Accueil Admin</a>
    
</div>
{% endblock %}
