{% extends "dswCoreBundle::base.html.twig" %}

{% block body %}
<div class="container my-5">
   
    <h1>Attempts list</h1>

    <table class="table">
        <thead>
            <tr>
                <th>Id</th>
                <th>Username</th>
                <th>Question</th>
                <th>Réponse</th>
                <th>Actions</th>
            </tr>
        </thead>
        <tbody>
        {% for attempt in attempts %}
            <tr>
                <td><a href="{{ path('quiz_attempt_show', { 'id': attempt.id }) }}">{{ attempt.id }}</a></td>
                <td>{{ attempt.user.username }}</td>
                <td>{{ attempt.answer.question.intitule }}</td>
                <td>{{ attempt.answer.answer }}</td>
                <td>
                    <ul>
                        <li>
                            <a href="{{ path('quiz_attempt_show', { 'id': attempt.id }) }}">show</a>
                        </li>
                        <li>
                            <a href="{{ path('quiz_attempt_edit', { 'id': attempt.id }) }}">edit</a>
                        </li>
                    </ul>
                </td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <ul>
        <li>
            <a href="{{ path('quiz_attempt_new') }}">Create a new attempt</a>
        </li>
    </ul>
    
</div>
{% endblock %}
