{% extends "dswEvalBundle::layout.html.twig" %}
{% block title %}{{ parent() }}{% endblock %}
{% block dsw_eval_content %}
   
    <h1>Enregistrement</h1>

    <table>
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ enregistrement.id }}</td>
            </tr>
        </tbody>
    </table>

    <ul>
        <li>
            <a href="{{ path('eval_enregistrement_index') }}">Back to the list</a>
        </li>
        <li>
            <a href="{{ path('eval_enregistrement_edit', { 'id': enregistrement.id }) }}">Edit</a>
        </li>
        <li>
            {{ form_start(delete_form) }}
                <input type="submit" value="Delete">
            {{ form_end(delete_form) }}
        </li>
    </ul>
    
{% endblock %}
