{% extends "dswLearnBundle::layout.html.twig" %}
{% block title %}{{ parent() }} - Éditer un cours{% endblock %}
{% block dsw_learn_content %}
  
<div class="row justify-content-center">
<div class="col-md-10">
   
    <h1>Constructeur de cours</h1>
    
    <div class="breadcrumb p-4 mb-5">
    <h2 class="mb-4">Paramètres du cours</h2>

    {{ form_start(edit_form) }}
      
        <div class="row d-flex align-items-center align-self-center mb-3">
            <div class="col-md-3"><strong>Titre</strong></div>
            <div class="col-md-9">{{ form_widget(edit_form.name) }}</div>
        </div>
        
        <div class="row d-flex align-items-center align-self-center mb-3">
            <div class="col-md-3"><strong>Logo</strong></div>
            <div class="col-md-9">{{ form_widget(edit_form.logo) }}</div>
        </div>
        
        <hr>
        
        <div class="row d-flex align-items-center align-self-center mb-3">
            <div class="col-md-3"><strong>Ouverture</strong></div>
            <div class="col-md-9">{{ form_widget(edit_form.open) }}</div>
        </div>
        
        <div class="row d-flex align-items-center align-self-center mb-3">
            <div class="col-md-3"><strong>Inscriptions</strong></div>
            <div class="col-md-9"><a href="{{ path('course_register', {'id': course.id }) }}">Inscrire</a></div>
        </div>
        
        
        
        <div class="row d-flex align-items-center align-self-center mb-3">
            <div class="col-md-3"><strong>Code url</strong></div>
            <div class="col-md-9">{{ form_widget(edit_form.code) }}</div>
        </div>
        
        <hr>
        
        <div class="row d-flex align-items-center align-self-center mb-3">
            <div class="col-md-3"><strong>Page d'accueil</strong></div>
            <div class="col-md-9">{{ form_widget(edit_form.public) }}</div>
        </div>
        
        <div class="row d-flex align-items-center align-self-center mb-3">
            <div class="col-md-3"><strong>Description accueil</strong></div>
            <div class="col-md-9">{{ form_widget(edit_form.description) }}</div>
        </div>
        
        
        <div class="ml-0 text-right">
            <button class="btn btn-learn ml-0" type="submit">Enregistrer les modifications</button>
        </div>
       
    {{ form_end(edit_form) }}
    
    </div>    
    
    
    <h2 class="mb-4">Liste des modules</h2>
    
    <ul class="list-group w-100">
    
    
    {% for module in sorted_modules %}

        <div class="row mb-4">
           
            <div class="col-md-8">

            {% if module.titre %}
            <h3 class="mt-4 mb-2">{{ module.name }}</h3>
            {% else %}
            <a href="{{ path('module_build', {'id': module.id }) }}" class="list-group-item list-group-item-action list-group-item-learn">
            {{ module.name }}
            </a>
            {% endif %}

            </div>
            
            <div class="col-md-4">

            <a href="{{ path('module_build', {'id': module.id }) }}" class="btn btn-learn btn-sm-edit mt-0 mx-1"><i class="fas fa-edit"></i></a>

            {% if not loop.last %}
            <a href="{{ path('module_down', {'id': module.id }) }}" class="btn btn-learn btn-sm-edit mt-0 mx-1"><i class="fas fa-arrow-down"></i></a>
            {% endif %}

            {% if not loop.first %}
            <a href="{{ path('module_up', {'id': module.id }) }}" class="btn btn-learn btn-sm-edit mt-0 mx-1"><i class="fas fa-arrow-up"></i></a>
            {% endif %}

            <a href="{{ path('module_delete', {'id': module.id }) }}" class="btn btn-danger btn-sm-edit mt-0 mx-1"><i class="fas fa-trash"></i></a>

            </div>
            
        </div>
    
    {% else %}
       
        <p>Il n'y a encore aucun module associé à ce cours. Commencez par en ajouter un !</p>
        
    {% endfor %}

    </ul>
    
    <a href="{{ path('module_create', {'id': course.id }) }}" class="btn btn-dark my-3">Créer un module</a>
    <a href="{{ path('course_duplicate_module', {'id': course.id }) }}" class="btn btn-dark my-3">Dupliquer un module</a>
    <a href="{{ path('module_create_title', {'id': course.id }) }}" class="btn btn-dark my-3">Ajouter un séparateur</a>
    <a href="{{ path('course_play', {'id': course.id }) }}" class="btn btn-dark my-3">Voir le cours</a>
    
    {#
    <hr>
    {{ form_start(delete_form) }}
        <input type="submit" value="Supprimer le cours" class="btn btn-tertiary mt-3" />
    {{ form_end(delete_form) }}
    #}
    
</div>
</div>

{% endblock %}