{% extends "dswLearnBundle::layout.html.twig" %}
{% block title %}{{ parent() }} - Duplication de module{% endblock %}
{% block dsw_learn_content %}
  
    <div class="row justify-content-center">
    <div class="col-md-8 text-center">
   
    <h1>Duplication de module - {{ course.name }}</h1>
    
    <p>
    Bienvenue dans l'outil de duplication de module !<br>
    Choisissez le module à dupliquer et à ajouter au cours.
    </p>

    {{ form_start(form) }}
       
        <div class="mb-3">{{ form_widget(form.module) }}</div>

        <button class="btn btn-learn" type="submit">Dupliquer le module</button>
        
    {{ form_end(form) }}
    
    </div>
    </div>
    
{% endblock %}
