{% extends "dswLearnBundle::layout.html.twig" %}
{% block title %}{{ parent() }} - Liste des cours{% endblock %}
{% block dsw_learn_content %}
   
    <h1>Liste des cours</h1>

    <table class="table">
        <thead>
            <tr>
                <th>Id</th>
                <th>Name</th>
                <th>Code</th>
                <th>Actions</th>
            </tr>
        </thead>
        <tbody>
        {% for course in courses %}
            <tr>
                <td><a href="{{ path('course_show', { 'id': course.id }) }}">{{ course.id }}</a></td>
                <td>{{ course.name }}</td>
                <td>{{ course.code }}</td>
                <td>
                    <a href="{{ path('course_play', { 'id': course.id }) }}">Démarrer</a>
                    <a href="{{ path('course_build', { 'id': course.id }) }}">Modifier</a>
                </td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <ul>
        <li>
            <a href="{{ path('course_new') }}">Create a new course</a>
        </li>
    </ul>
{% endblock %}
