{% extends "dswLearnBundle::layout.html.twig" %}
{% block title %}{{ parent() }} - Création de cours{% endblock %}
{% block dsw_learn_content %}
   
    <h1>Création de cours</h1>

    {{ form_start(form) }}
        {{ form_widget(form) }}
        <input type="submit" value="Create" />
    {{ form_end(form) }}

    <ul>
        <li>
            <a href="{{ path('course_index') }}">Back to the list</a>
        </li>
    </ul>
{% endblock %}
