{% extends "dswAmpliBundle::layout.html.twig" %}
{% block title %}{{ parent() }} - Des idées aux projets{% endblock %}
{% block dsw_ampli_jumbotron %}
    <h1>{{ espace.titre }}</h1>
    <h2 class="soustitre mb-0">Des idées aux projets !</h2>
{% endblock %}

{% block dsw_ampli_content %}
<div class="container mt-5 idee_liste_vote">
    
    <div class="grid">
    <div class="grid-sizer col-md-4"></div>

    {% for idee in listIdees %}
       
        {% set typeCoeur = 'fa fa-heart-o' %}
       
        {% if user %}
        {% for coeur in idee.coeurs %}
            {% if coeur.user.id == user.id %}
                {% set typeCoeur = 'fa fa-heart' %}
            {% endif %}
        {% endfor %}
        {% endif %}
       
        
        <div class="grid-item col-md-4">
        <div class="grid-item-content">
        <div class="card card_clickable mb-3">
           
            {% if idee.imgProjet %}
                <img class="card-img-top img-fluid cover_300" src="{{ asset('/uploads/img/' ~ idee.imgProjet) | imagine_filter('ideas_wall') }}" alt="Image projet">
            {% endif %}
            
            <!-- <div class="card-header idee_header text-center">
                Catégorie
            </div> -->
            
            <div class="card-body">
                <h4 class="card-title">{{ idee.titre }}</h4>
                <p class="card-text">{{ idee.description|nl2br }}</p>           
            </div>
            
            {% if espace.withFooter %}
            <hr class="hr_thin">
            
            <div class="card-body py-2 card_infos">
                <div class="d-flex justify-content-between align-items-center">
                    <div class="mr-auto">
                        <span class="fa fa-user"></span>&nbsp; {{ idee.user.username }}
                    </div>
                    <div class="ml-auto">
                    {{ idee.coeurs|length }} <span class="{{ typeCoeur }}"></span>
                    </div>
                    <!-- <div>
                    <a href="{{ path('ampli_idee_show', {'id': idee.id}) }}" class="btn btn-tertiary btn-sm btn_circle waves-effect waves-light">
                    <span class="fa fa-pencil"></span>
                    </a>
                    </div> -->
                </div>
            </div>
            {% endif %}
              
            <div class="card-info mx-auto">
                <h1><a href="{{ path('ampli_idee_show', {'id': idee.id}) }}" class="hidden_link">En savoir plus ?</a></h1>
            </div>
               
            <a href="{{ path('ampli_idee_show', {'id': idee.id}) }}" class="color-overlay"></a>
                
        </div>
        </div>
        </div>

    {% endfor %}

    </div>
    
</div> 
  
<!--  
<div class="jumbotron jumbotron-fluid mt-5 mb-0 row">
<div class="container">
<p>Vous avez terminé de développer ?</p>
<a class="btn btn-secondary" href="{{ path('dsw_ampli_viewEspace', {'id': espace.id}) }}">Retour à l'accueil</a>
</div> 
</div> 
-->
    
{% endblock %}